#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(/hero_img.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.translator {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 10%;
}

.area {
  width: 50%;
  padding: 30px;
  border: 2px #4D5562 solid;
  border-radius: 24px;
}

.enteredArea {
  position: relative;
  background-color: #212936cc;
}

.translatedArea {
  background-color: #121826cc;
}