.language-selector {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	border-bottom: 2px #4D5562 solid;
	line-height: 2.2;
}

.language-list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.language-btn {
	font-weight: 700;
	color: #6b717d;
	background-color: transparent;
}

.active {
	background-color: #4D5562;
	border-radius: 10px;
	color: #F9FAFB;
	padding: 0 12px;
}

.dropdown-btn {
	position: relative;
}

.dropdown-btn::after {
	content: "";
	position: absolute;
	top: 60%;
	right: -20px;
	transform: translateY(-50%);

	width: 20px;
	height: 20px;
	background-image: url(/Expand_down.svg);

	cursor: pointer;
}

.dropdown-list--visible {
	display: flex !important;
}

.dropdown-list {
	position: absolute;
	display: none;
	flex-direction: column;
	top: 62px;

	list-style-type: none;
	background-color: #19212f;
	overflow: auto;
	width: 100%;
	max-height: 220px;
	z-index: 1;
	padding: 20px;
	border-radius: 8px;
}

.dropdown-list::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.dropdown-list::-webkit-scrollbar-track {
	background: #212936;
	border-radius: 4px;
}

.dropdown-list::-webkit-scrollbar-thumb {
	background: #4D5562;
	border-radius: 4px;
}

.dropdown-languages {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}

.filter-input {
	width: 100%;
	color: #9da4b3;
	background-color: transparent;
	border: none;
	border-bottom: 2px #4D5562 solid;
	margin-bottom: 20px;
}

.filter-input:focus {
	outline: none;
}

.filter-input::placeholder {
	color: rgba(157, 164, 179, 0.5);
}

.dropdown-item {
	color: #9da4b3;
	cursor: pointer;
	transition: 0.3s;
}

.dropdown-item:hover {
	transform: scale(125%);
}

.option-btn {
	width: 28px;
	height: 28px;
	border: 3px #4D5562 solid;
	border-radius: 12px;
	padding: 16px;
}

.reverse-btn {
	background: center / 24px no-repeat url(/Horizontal_top_left_main.svg);
}

.option-btn:active {
	transform: scale(90%);
}